src/out/*
!src/out/.gitkeep
src/logs/*
!src/logs/.gitkeep

src/vendor/ansicon189/*
!src/vendor/ansicon189/.gitkeep

src/vendor/ant-contrib-1.0b3/*
!src/vendor/ant-contrib-1.0b3/.gitkeep

src/vendor/apache-ant-1.10.17/*
!src/vendor/apache-ant-1.10.17/.gitkeep

src/vendor/calibre-portable-3.46/*
!src/vendor/calibre-portable-3.46/.gitkeep

src/vendor/calibre-portable-8.00/*
!src/vendor/calibre-portable-8.00/.gitkeep

src/vendor/casperjs-1.1.4-1/*
!src/vendor/casperjs-1.1.4-1/.gitkeep

src/vendor/jdk-25.0.3+9/*
!src/vendor/jdk-25.0.3+9/.gitkeep

src/vendor/phantomjs-2.1.1-windows/*
!src/vendor/phantomjs-2.1.1-windows/.gitkeep

src/vendor/SaxonHE9-8-0-12J/*
!src/vendor/SaxonHE9-8-0-12J/.gitkeep

src/_templates/cahier-sci6052/epub/OEBPS/fonts/*
src/_templates/cahier-sci6052/ressources/*
src/_templates/cahier-sci7003/epub/OEBPS/fonts/*
src/_templates/cahier-sci7003/ressources/*
src/_templates/protocole-sci6306/epub/OEBPS/fonts/*
src/_templates/protocole-sci6306/ressources/*
src/_templates/guides/epub/OEBPS/images/*
src/_templates/guides/epub/OEBPS/fonts/*
src/build_test_cd.xml