src/out/*
src/out/
src/logs/*
src/logs/

src/ansicon184/*
!src/ansicon184

src/ant-contrib-1.0b3/*
!src/ant-contrib-1.0b3

src/apache-ant-1.10.4/*
!src/apache-ant-1.10.4

src/casperjs-1.1.4-1/*
!src/casperjs-1.1.4-1

src/jdk1.8.0_172_x64/*
!src/jdk1.8.0_172_x64

src/phantomjs-2.1.1-windows/*
!src/phantomjs-2.1.1-windows

src/SaxonHE9-8-0-12J/*
!src/SaxonHE9-8-0-12J

src/_templates/guides/epub/OEBPS/images/*