/*==================
  FONTS
  ==================*/
/*Confluence (d) */
/*https://www.onlinewebfonts.com/download/358462955e7383e37d7754e709f2cb34*/
@import url(//db.onlinewebfonts.com/c/358462955e7383e37d7754e709f2cb34?family=Charlotte+Std);
/*Confluence (f) */
/*EPUB (d)*/


































/*EPUB (f)*/


/*==================
  Mise en page générale
  ==================*/
/*Confluence (d) */
div.tp{
    font-family : "Charlotte Std";
    width:8.5in;
    margin :0in 1in 0 1in;
    text-align : left;
}
/*Confluence (f) */
/*EPUB (d)*/





/*EPUB (f)*/

/*==================
  Mise en forme
  ==================*/
.tp-description{
    border-top : 1px solid black;
    border-bottom: 1px solid black;
}
.tp-description table{
    width: 100%;
}
.tp-description table, .tp-description table td, .tp-description table th{
    border : none !important; /* !important requis en raison de la règle ".tp table", etc. */
}
.tp-description table td, .tp-description table th{
    background-color:transparent !important;
    vertical-align: top;

    margin:0 !important;
    padding: 6pt 6pt 6pt 0;
}
.tp-description table th, .tp-sommaire-titre{
    font-family: Frutiger;
    font-weight: bold;
}
/*https://stackoverflow.com/questions/11267154/fit-cell-width-to-content*/
.tp-description table th{
    width:1%;
    white-space:nowrap;
}
*.tp-description p, *.tp-description ul{
    margin : 0;
}
.tp-sommaire-titre{
    display: block;
}
.tp-sommaire-titre, .tp h2, .tp h3{
    font-weight: bold;
}
.tp-sommaire-titre, .tp h2, .tp h3, .tp-section > p, .tp-afaire, .tp-important, .tp-code, .tp-illustration, .tp-question-intitule {
    margin-top:12pt !important;
}
.tp-illustration-légende > p{
    margin-top:0 !important;
}



.tp p, .tp td, .tp th, .tp li, .tp th, .tp td {
    font-size: 10pt;
}






.tp h2{
    font-family: Frutiger;
    font-size: 14pt;
    font-weight : bold;
    border-top : 1px solid black;
}
.tp h3, .tp-sommaire-titre, .tp-important-titre {
    font-family: Frutiger;
    font-size: 12pt;
    font-weight : bold;
    font-style: italic;
}
.tp h4 {
    font-family: Frutiger;
    font-size: 10pt;
    font-style: italic;
}
.tp h1, .tp h2, .tp h3, .tp h4{
    page-break-inside:avoid;
    page-break-after:avoid;
}
.tp ul, .tp ol{
    padding-left : 0.25in;
}
.tp-section li{
    margin-top:8pt !important;
}


.tp-afaire::before{
    content: "";
    display: block;
    /*Confluence (d) */
    background-image: url(https://wiki.umontreal.ca/download/attachments/132189775/afaire.png);
    /*Confluence (f) */
    /*EPUB (d)*/

    /*EPUB (f)*/
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 0 0 -0.25in;
}
.tp-afaire{
    padding-left : 0.25in;





}

.tp-important{
    margin-left: 0.25in;
    border-left: 5px double black;
    padding-left: 0.1in;
}
.tp-important-titre{
    font-weight:bold;
}
.tp-important-titre + p{
    margin: 0 !important;
}

.tp-code{
    font-family: "Courier New";
}
div.tp-code * {
    margin : 0;
}

.tp-nomFichier{
    font-family: "Courier New";
}
.tp-nomConsacré{
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
}
/*Confluence (d) */
/*Espace devant les spans : ajout d'une espace via CSS*/
.tp-nomFichier::before, .tp-nomConsacré::before{
    content: "\0020";
    font-size: 10pt;
}
/*Confluence (f) */














/*==================
  Questions
  ==================*/
.tp {
    counter-reset: questioncounter;
}
.tp-question{
    counter-increment: questioncounter;
}
.tp-question-intitule{
    padding-left : 0.25in;
}
/*http://krasimirtsonev.com/blog/article/CSS-before-and-after-pseudo-elements-in-practice*/
.tp-question-intitule::before{
    content: "Q" counter(questioncounter);
    display: block;
    font-weight: bold;
    float: left;
    margin: 0 0 0 -0.25in;
}
.tp-question-ligne{
    margin-left : 0.25in;
    border-bottom : 1px solid black;
    line-height : 20pt;
}

/*==================
  Illustrations
  ==================*/
.tp-section {
    counter-reset: legendecounter;
}
/* Permettre la numérotation entre 2 .tp-section : https://stackoverflow.com/questions/47769190/css-counter-numbered-headings-in-different-div?noredirect=1&lq=1 */
.tp-section ~ .tp-section {
  counter-reset: none;
}
.tp-illustration{
    counter-increment: legendecounter;
    text-align:center;

    /*EPUB (d)*/








    /*EPUB (f)*/
}
.tp-illustration-legende{
    text-align:center;
    font-weight: bold;
}
.tp-illustration-legende p:before{
    content: "Figure " counter(legendecounter) " : ";
}

/*==================
  Pieds de page (popup & liste)
  ==================*/
/*EPUB (d)*/
















/*EPUB (f)*/

/*==================
  TDM
  ==================*/
/*TDM automatique confluence*/
.tp-tdm > .toc-macro > ul{
    padding-left: 0 !important;
}
.tp-tdm ul{
    list-style-type: none;
}

/* Numérotation h2 & h3 : http://2ality.com/2012/01/numbering-headingshtml.html*/
.tp {
    counter-reset: h2counter;
}
h2 {
    counter-reset: h3counter;
}
h3 {
    counter-reset: h4counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
/*EPUB (d) : titre pour liste des notes de bas de page */




/*EPUB (f)*/
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}
h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}


/*==================
  COVER
  ==================*/
/*EPUB (d)*/























/*EPUB (f)*/