/*==================
  FONTS
  ==================*/
/*Confluence (d) */


/*Confluence (f) */
/*EPUB (d)*/
@font-face {
    font-family: "Charlotte Std";
    src : url('../fonts/Charlotte-Std-Book.otf');
}
@font-face {
    font-family: "Charlotte Std";
    src : url('../fonts/Charlotte-Std-Book-Italic.otf');
    font-style : italic;
}
@font-face {
    font-family: "Charlotte Std";
    src : url('../fonts/Charlotte-Std-Book-Bold.otf');
    font-weight : bold;
}
@font-face {
    font-family: "Frutiger";
    src : url('../fonts/frutiger.ttf');
}
@font-face {
    font-family: "Frutiger";
    src : url('../fonts/frutiger-italic.ttf');
    font-style : italic;
}
@font-face {
    font-family: "Frutiger";
    src : url('../fonts/frutiger-bold.ttf');
    font-weight : bold;
}
@font-face {
    font-family: "Frutiger";
    src : url('../fonts/Charlotte-Std-Book.otf');
    font-style : italic;
    font-weight : bold;
}
/*EPUB (f)*/


/*==================
  Mise en page générale
  ==================*/
/*Confluence (d) */






/*Confluence (f) */
/*EPUB (d)*/
body {
    font-family : "Charlotte Std";
    margin : 0.5in;
    text-align : left;
}
/*EPUB (f)*/

/*==================
  Mise en forme
  ==================*/
.tp-description{
    border-top : 1px solid black;
    border-bottom: 1px solid black;
}
.tp-description table{
    width: 100%;
}
.tp-description table, .tp-description table td, .tp-description table th{
    border : none !important; /* !important requis en raison de la règle ".tp table", etc. */
}
.tp-description table td, .tp-description table th{
    background-color:transparent !important;
    vertical-align: top;

    margin:0 !important;
    padding: 6pt 6pt 6pt 0;
}
.tp-description table th, .tp-sommaire-titre{
    font-family: Frutiger;
    font-weight: bold;
}
/*https://stackoverflow.com/questions/11267154/fit-cell-width-to-content*/
.tp-description table th{
    width:1%;
    white-space:nowrap;
}
*.tp-description p, *.tp-description ul{
    margin : 0;
}
.tp-sommaire-titre{
    display: block;
}
.tp-sommaire-titre, .tp h2, .tp h3{
    font-weight: bold;
}
.tp-sommaire-titre, .tp h2, .tp h3, .tp-section > p, .tp-afaire, .tp-important, .tp-code, .tp-illustration, .tp-question-intitule {
    margin-top:12pt !important;
}
.tp-illustration-légende > p{
    margin-top:0 !important;
}


.tp-piedDePage,
.tp div, .tp p, .tp td, .tp th, .tp li {
    font-size: 10pt;
}

.tp h1{
    font-family: Frutiger;
    font-size: 16pt;
    font-weight : bold;
}
.tp h2{
    font-family: Frutiger;
    font-size: 14pt;
    font-weight : bold;
    border-top : 1px solid black;
}
.tp h3, .tp-sommaire-titre, .tp-important-titre {
    font-family: Frutiger;
    font-size: 12pt;
    font-weight : bold;
    font-style: italic;
}
.tp h4 {
    font-family: Frutiger;
    font-size: 10pt;
    font-style: italic;
}
.tp h1, .tp h2, .tp h3, .tp h4{
    page-break-inside:avoid;
    page-break-after:avoid;
}
.tp ul, .tp ol{
    padding-left : 0.25in;
}
.tp-section li{
    margin-top:8pt !important;
}


.tp-afaire::before{
    content: "";
    display: block;
    /*Confluence (d) */

    /*Confluence (f) */
    /*EPUB (d)*/
    background-image: url(../images/afaire.png);
    /*EPUB (f)*/
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 0 0 -0.25in;
}
.tp-afaire{
    padding-left : 0.25in;
    /*EPUB (d)*/
    page-break-before:auto;
    page-break-inside:avoid;
    page-break-after:auto;
    /*EPUB (f)*/
}

.tp-important{
    margin-left: 0.25in;
    border-left: 5px double black;
    padding-left: 0.1in;
}
.tp-important-titre{
    font-weight:bold;
}
.tp-important-titre + p{
    margin: 0 !important;
}

.tp-code{
    font-family: "Courier New";
}
div.tp-code * {
    margin : 0;
}

.tp-nomFichier{
    font-family: "Courier New";
}
.tp-nomConsacré{
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
}
/*Confluence (d) */
/*Espace devant les spans : non requis en EPUB : corrigé via XSLT*/




/*Confluence (f) */

.tp table{
    border-collapse: collapse;
}
.tp table, .tp th, .tp td {
    border: 1px solid rgb(221,221,221);
}
.tp th, .tp td{
    padding : 0.5em;
}
.tp th{
    background-color : rgb(240,240,240);
}

/*==================
  Questions
  ==================*/
.tp {
    counter-reset: questioncounter;
}
.tp-question{
    counter-increment: questioncounter;
}
.tp-question-intitule{
    padding-left : 0.25in;
}
/*http://krasimirtsonev.com/blog/article/CSS-before-and-after-pseudo-elements-in-practice*/
.tp-question-intitule::before{
    content: "Q" counter(questioncounter);
    display: block;
    font-weight: bold;
    float: left;
    margin: 0 0 0 -0.25in;
}
.tp-question-ligne{
    margin-left : 0.25in;
    border-bottom : 1px solid black;
    line-height : 20pt;
}

/*==================
  Illustrations
  ==================*/
.tp-section {
    counter-reset: legendecounter;
}
/* Permettre la numérotation entre 2 .tp-section : https://stackoverflow.com/questions/47769190/css-counter-numbered-headings-in-different-div?noredirect=1&lq=1 */
.tp-section ~ .tp-section {
  counter-reset: none;
}
.tp-illustration{
    counter-increment: legendecounter;
    text-align:center;

    /*EPUB (d)*/
    text-indent:0;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:99%;
    page-break-before:auto;
    page-break-inside:avoid;
    page-break-after:auto;
    /*EPUB (f)*/
}
.tp-illustration-legende{
    text-align:center;
    font-weight: bold;
}
.tp-illustration-legende p:before{
    content: "Figure " counter(legendecounter) " : ";
}

/*==================
  Pieds de page (popup & liste)
  ==================*/
/*EPUB (d)*/
.tp-piedDePage{
    margin-top:12pt;
    page-break-before:auto;
    page-break-inside:avoid;
    page-break-after:auto;
}
.tp-piedDePage-lien{
    float:left;
    margin-right:0.25em;
}
.tp-piedDePage-contenu{
    overflow: hidden;
}
.tp-piedDePage-contenu p{
    margin:0;
}
/*EPUB (f)*/

/*==================
  TDM
  ==================*/
/*TDM automatique confluence*/
.tp-tdm > .toc-macro > ul{
    padding-left: 0 !important;
}
.tp-tdm ul{
    list-style-type: none;
}

/* Numérotation h2 & h3 : http://2ality.com/2012/01/numbering-headingshtml.html*/
.tp {
    counter-reset: h2counter;
}
h2 {
    counter-reset: h3counter;
}
h3 {
    counter-reset: h4counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
/*EPUB (d) : titre pour liste des notes de bas de page */
h2.listeNotes:before {
        content: none;
        counter-increment: none;
}
/*EPUB (f)*/
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}
h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}


/*==================
  COVER
  ==================*/
/*EPUB (d)*/
#pageTitre-FAS {
    font-weight : bold;  
    font-size: 11pt;  
}  
#pageTitre-EBSI {  
    font-size: 8pt;  
}  
#pageTitre-titre  {  
    font-family: Cambria, Georgia, serif;
    font-size: 24pt;  
    color : #17365D;  
    border-bottom : 2px solid #4F81BD;  
    margin-top : 120px;  
    padding-bottom : 4px;  
}  
#pageTitre-année {  
    font-family: Cambria,Georgia,serif;   
    font-size: 18pt;  
    color : #17365D;  
    margin-top : 25px;  
}
/*EPUB (f)*/